Logshark.ConfigSectionGenerator/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="logshark" elementFormDefault="qualified" targetNamespace="logshark" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Config" type="tns:Logshark.ConfigSection.LogsharkConfigCT" />
	<xs:complexType name="Logshark.ConfigSection.LogsharkConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="PostgresConnection" type="tns:Logshark.Config.PostgresConnectionCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to the Postgres database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="MongoConnection" type="tns:Logshark.Config.MongoConnectionCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to the MongoDB database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="RunOptions" type="tns:Logshark.Config.RunOptionsCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to LogShark runtime options</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TableauConnection" type="tns:Logshark.Config.TableauServerConnectionCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to the Tableau Server connection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="ArtifactProcessorOptions" type="tns:Logshark.Config.ArtifactProcessorOptionsCT">
				<xs:annotation>
					<xs:documentation>Options related to artifact processors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoConnectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="Servers" type="tns:Logshark.Config.MongoServersCT">
				<xs:annotation>
					<xs:documentation>Configuration information about the MongoDB server endpoints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="User" type="tns:Logshark.Config.MongoUserCT">
				<xs:annotation>
					<xs:documentation>Settings related to the Mongo user.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="poolSize" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MongoDB max connection pool size.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MongoDB connection timeout, in seconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="insertionRetries" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The number of times a failed insert should be retried.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.PostgresConnectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="Server" type="tns:Logshark.Config.PostgresServerCT">
				<xs:annotation>
					<xs:documentation>Information about the Postgres server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="User" type="tns:Logshark.Config.PostgresUserCT">
				<xs:annotation>
					<xs:documentation>Settings related to the Postgres user.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Database" type="tns:Logshark.Config.PostgresDatabaseCT">
				<xs:annotation>
					<xs:documentation>Information about the Postgres database instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="commandTimeout" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Postgres command timeout, in seconds</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tcpKeepalive" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The number of seconds of connection inactivity before a TCP keepalive query is sent. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="writeBufferSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The size of the Postgres write buffer, in bytes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoServerCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The hostname or IP address of the MongoDB server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The port of the MongoDB server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.PostgresServerCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The hostname or IP address of the Postgres server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The port of the Postgres server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.TuningOptionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="FilePartitioner" type="tns:Logshark.Config.FilePartitionerCT">
				<xs:annotation>
					<xs:documentation>The FilePartitioner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="FileProcessor" type="tns:Logshark.Config.FileProcessorCT">
				<xs:annotation>
					<xs:documentation>The FileProcessor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.FilePartitionerCT">
		<xs:attribute name="maxFileSizeMb" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The maximum size a file can be without being partitioned, in megabytes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="concurrencyLimit" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The maximum number of files that can be partitioned concurrently.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.PostgresUserCT">
		<xs:attribute name="username" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The username of the Postgres user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The password for the Postgres user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoUserCT">
		<xs:attribute name="username" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The username of the Mongo user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The password for the Mongo user.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.PostgresDatabaseCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the Postgres database instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.TableauServerConnectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="Server" type="tns:Logshark.Config.TableauServerCT">
				<xs:annotation>
					<xs:documentation>The Server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="User" type="tns:Logshark.Config.TableauUserCT">
				<xs:annotation>
					<xs:documentation>Settings for the Tableau Server user used to publish results.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="protocol" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The communication protocol to use, i.e. "http" or "https".</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="publishingTimeoutSeconds" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The number of seconds to wait for a response when publishing a workbook to Tableau Server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.TableauServerCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The hostname or IP address of Tableau Server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The port that Tableau Server is running on.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="site" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the site to publish to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.TableauUserCT">
		<xs:attribute name="username" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The username of the user to publish as.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The password of this user account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.ArtifactProcessorConfigNodeCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="DefaultPlugins" type="tns:Logshark.Config.DefaultPluginsCT">
				<xs:annotation>
					<xs:documentation>The default set of plugins to run on every Logshark execution using the parent artifact processor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type name of the artifact processor.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.DefaultPluginsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Plugin" type="tns:Logshark.Config.PluginCT">
				<xs:annotation>
					<xs:documentation>Information about a Logshark plugin.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.DefaultPluginsRemoveCT">
		</xs:complexType>
	<xs:complexType name="Logshark.Config.DefaultPluginsClearCT" />
	<xs:complexType name="Logshark.Config.PluginCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of the plugin.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoServersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Server" type="tns:Logshark.Config.MongoServerCT">
				<xs:annotation>
					<xs:documentation>Information about a single MongoDB server endpoint.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoServersRemoveCT">
		</xs:complexType>
	<xs:complexType name="Logshark.Config.MongoServersClearCT" />
	<xs:complexType name="Logshark.Config.FileProcessorCT">
		<xs:attribute name="concurrencyLimitPerCore" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Determines the degree of concurrency for file processing.  This number is multiplied by the number of logical processors on the system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.LocalMongoOptionsCT">
		<xs:attribute name="useAlways" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates whether a local MongoDB instance should be used for each run.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="purgeOnStartup" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates whether the local Mongo DB should be purged whenever it is started.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.RunOptionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="Tuning" type="tns:Logshark.Config.TuningOptionsCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to performance tuning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="LocalMongo" type="tns:Logshark.Config.LocalMongoOptionsCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to using a local MongoDB instance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="DataRetention" type="tns:Logshark.Config.DataRetentionOptionsCT">
				<xs:annotation>
					<xs:documentation>Settings pertaining to output data retention.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TempFolder" type="tns:Logshark.Config.TempFolderOptionsCT">
				<xs:annotation>
					<xs:documentation>Temp folder to use while extracting data from log set</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.ArtifactProcessorOptionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ArtifactProcessor" type="tns:Logshark.Config.ArtifactProcessorConfigNodeCT">
				<xs:annotation>
					<xs:documentation>Options related to running an artifact processor.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.ArtifactProcessorOptionsRemoveCT">
		</xs:complexType>
	<xs:complexType name="Logshark.Config.ArtifactProcessorOptionsClearCT" />
	<xs:complexType name="Logshark.Config.DataRetentionOptionsCT">
		<xs:attribute name="maxRuns" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The maximum number of runs that will be retained.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Logshark.Config.TempFolderOptionsCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Full path to the temp folder</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
